@font-face{
   font-family:"PT Sans";
   font-style: normal;
   font-weight: 400;
   src: url('../fonts/ptsans-400.woff2') format("woff2");
   font-display: swap;
}

@font-face{
    font-style: bold;
    font-weight: 700;
    src: url('../ffonts/ptsans-700.woff2') format("woff2");
    font-display: swap;
}
body{
    font-size: 16px;
    line-height: 24px;
    color: black;
    background-color: white;
}
.page-header{
    color: black;
    background-color: white;
    font-size: 20px;
    font-weight: 700;
}
.navigation link{
    font-size: 20px;
    font-weight: 700;
    color:black;
    text-align: center;
    background-color: white;
    text-decoration: none;
    text-transform: capitalize;
}
.main-index{
    color: black;
    background-color: white;
    background-image: url(".vscode/Images/index-background-2.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
h1{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    list-style-type: none;
}
.cooller
{
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: black;
    list-style-type: none;
}

.city{
    list-style-type: none;
    background-color: #82B3D3;
    background-image: url(.vscode/Images/photo-real city1-2.jpg);
}
h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    list-style-type: none;
}
p{
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
}
.white-text{
    background-color: #82B3D3;
    color: white;
}
.blue{
    background-color: rgba(131, 179, 211, 0.12);
    color: black;
}

.plaza{
list-style-type: none;
 background-color: #83B3D31F;
}

.road{
    background-color: rgba(131, 179, 211, 0.2);
    list-style-type: none;
}

   .advantages-item-gifts{
    background-color: rgba(131, 179, 211, 0.12);
    list-style-type: none;
   }
   .question{
    background-color: #FFFFFF;
   }

.page-footer{
   background-image: url(".vscode/Images/Subscribe-2.jpg");
}
